@import "../../common/stylus/mixins.styl"
.container
  overflow hidden
  display flex
  .left_nav
    width 162px
    height 1144px
    ul
      width 100%
      li
        width 100%
        height 50px
        margin-top 40px
        line-height 50px
        text-align center
        font-size 28px
        color #7e8c8d
        &:first-child
          margin-top 20px
        &.active
          color $red
          border-left 6px solid $red
  .content
    width 588px
    font-size 28px
    height 1144px
    div
      >img
        width 100%
      >ul
        width 528px
        margin-top 20px
        display flex
        flex-wrap wrap
        margin-left 25px
        color #333333
        >li
          width 144px
          height 216px
          margin-right 32px
          >img
            width 144px
            height 144px
            border-radius 50%
          >div
            width 144px
            height 72px
            text-align center
#headeWrap
  width 100%
  text-align center
  padding 20px
  background-color #ffff
  z-index 199
  .search
    width 680px
    height 56px
    border-radius 5px
    border none
    background-color rgba(0,0,0,.1)
    padding-right 25px
    i
      font-size 40px
    span
      color #666
      font-size 30px
