@import "../../common/stylus/mixins.styl"
#swiper
  position fixed
  bottom 0
  left 0
  width 100%
  display flex
  justify-content space-around
  font-size 12px
  z-index 99
  background-color #fff
  padding-bottom 10px
  padding-top 10px
  padding-left 0
  li
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    font-size 24px
    .footericon
      position relative
      width 40px
      height 40px
      overflow hidden
      img
        position absolute
        left 0
        top 0
        width 40px
        height 490px
    &:nth-of-type(1)
      img
        top -245px
    &:nth-of-type(2)
      img
        top -147px
    &:nth-of-type(3)
      img
        top -349px
    &:nth-of-type(4)
      img
        top -49px
        left -2px
    &:nth-of-type(5)
      img
        top -441px
    &.active
      color $red
      img
        transform translateY(49px)
