@import "../../../../common/stylus/mixins.styl"
#Hotcategory
  width 100%
  height 754px
  background-color #fff
  margin-top 30px
  .HotTitle
    font-size 32px
    color #333333
    width 100%
    height 100px
    display flex
    align-items center
    padding-left 30px
  p
    font-size 28px
    color #333333
  .categoryHOT
    width 330px
    height 200px
    float left
    background #F9F3E4
    display flex
    justify-content space-between
    border-radius 5px
    margin-left 30px
    span
      width 35px
      height 2px
      display inline-block
      background-color #000
    .HotText
      margin auto 15px
  .categoryGOOD
    width 330px
    height 200px
    float right
    background #EBEFF6
    display flex
    justify-content space-between
    border-radius 5px
    margin-right 30px
    span
      width 35px
      height 2px
      display inline-block
      background-color #000
    .HotText
      margin auto 15px
#homeLife
  width 100%
  clearFix()
  display block
  li
    float left
    width 165px
    height 180px
    overflow hidden
    text-align center
    background #F5F5F5
    margin-top 20px
    margin-left 5px
    &:nth-of-type(1)
      margin-left 40px
    &:nth-of-type(5)
      margin-left 40px
    p
      font-size 26px
      color #333333
    img
      width 120px
      height 120px
      margin 15px auto
