#HomeGoodsUL
  display flex
  justify-content space-around
  flex-wrap wrap
  text-align center
  font-size 24px
  background-color #fff
  padding-bottom 25px
  li
    img
      width 126px
#NewPeople
  margin-top 25px
  width 100%
  height 640px
  background-color #fff
  .textwrap
    width 100%
    height 90px
    line-height 90px
    text-align: center
    display flex
    justify-content center
    color #333333
    span
      font-size 30px
    hr
      width 20px
      height 1px
      margin auto 15px
      background-color #000
  .gitwrap
    width 100%
    height 558px
    .newgift
      border-radius 5px
      float left
      width 310px
      height 434px
      margin-left 45px
      background #F9E9CF
      p
        font-size 28px
        position relative
        top 20px
        left 15px
      img
        position relative
        top 25px
        left 30px
    .goupwrap
      float right
      margin-right 45px
      .welfare
        width 314px
        height 214px
        border-radius 5px
        background #FBE2D3
        position relative
        p
          font-size 32px
          color #333333
          position absolute
          top 20px
          left 15px
        span
          font-size 24px
          color #7f7f7f
          position absolute
          top 70px
          left 15px
        img
          position absolute
          right 0
          bottom 0
      .group
        width 314px
        height  214px
        background #FFECC2
        border-radius 5px
        position relative
        margin-top 5px
        p
          font-size 32px
          color #333333
          position absolute
          top 20px
          left 15px
        span
          width 120px
          height 32px
          font-size 24px
          position absolute
          top 70px
          left 15px
          background #CBB693
          color #fff
          border-radius 5px
          text-align center
        img
          position absolute
          right 0
          bottom 0
